@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 100%, 74%);
    background-image: url("../images/bg-intro-desktop.png");
    color: #fff;
    font-family: "Poppins", sans-serif;
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1200px;
        padding: 40px;
        min-width: 100vh;
        div{
            flex: 1;
            padding: 0 20px;
        }
    }
}

