@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  color: #fff;
  font-family: "Poppins", sans-serif;
  
  
  
}
/* Here is the  settings to put all content in the middle with margin auto all around in container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  
 
}

.container > div {
  flex: 1;
  padding: 0 20px;
}

h1 {
  font-size: 45px;
  line-height: 50px;
}

p {
  font-size: 16px;
  opacity: 0.8;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  text-align: center;
  
  
}

.box p {
  text-align: center;
}

.box-blue {
  background-color: hsl(248, 32%, 49%);
  padding: 15px;
  
}
.form-control{
  margin-bottom: 30px;
  position: relative;
}

.form-control small {
  position: absolute;
  bottom: -24px;
  right: 0;
  text-align: right;
  opacity: 0;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

.form-control.error input {
  border-color: hsl(0, 100%, 74%);
  color:hsl(0, 100%, 74%);
}

.form-control.error input::placeholder {

  color:hsl(0, 84%, 48%);

}

input {
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  font-family: 'Poppins, sans-serif';
  display: block;
  width: 100%;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
}

input:active {
  border: 2px solid hsl(246, 25%, 77%);
}

input:active {
  border: 2px solid hsl(246, 25%, 77%);
}

input:focus {
  border: 1.3px solid hsl(248, 32%, 49%);
  outline: none;
}
.form-control.error img {
  opacity: 1;
}

.form-control img {
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}

button {
 
  
  width: 100%;
  margin: 0, auto;
  padding: 15px 25px;
  border: hsl(154, 59%, 51%);;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  box-shadow: 0 2px  hsl(154, 59%, 51%);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
  
}

button:focus {
  outline: none;
}

button:active {
  border-bottom-width: 1px;
  transform: translateY(2px);
  box-shadow: 0 0  hsl(154, 59%, 51%);
}

.form-control small {
  opacity: 0;
}

.form-control.error small {
  opacity: 1;
}

small {
  display: block;
  color: #bbb;
  font-size: 12px;
  margin-top: 15px;
  font-weight: 500;
}

small a {
 color: hsl(0, 100%, 74%);
 text-decoration: none;
 font-weight: 600;
}

@media screen and (max-width: 768px) {
  h1 {
    justify-content: center;
    text-align: center;
    font-size: 44px;
  }

  p {
    justify-content: center;
    text-align: center;
  }
  .container {
    flex-direction: column;
    
  }

  .container .box__one {
    padding-top: 120px;
    
  }

  .box__one p {
    font-size: 29px;
  }

  
}